
.extend {
	width: 100%;
	}

.containerfull {
	width: 100%;
	padding: 0em 1em 0em 1em;

	}

.row {
	float: left;
	clear: both;
	width: 100%;
	}

.container {
	max-width: 75em;
	margin: 0 auto;
	padding: 0em 0em 0em 0em;
	}

.column {
	float: left;
	padding: 0.7em 1em 0.7em 1em;
  }

.white {
	background: #FAFAFA !important;
	}


.blue {
	background: #3F51B5 !important;
	color: #EAEAEA !important;
	}

.gray {
	background: #212121 !important;
	color: #EAEAEA !important;
	}

.column.it1 { width: 50%; }
.column.it2 { width: 50%; }

.column.tt { width: 33%; }
.column.tf { width: 34%; }

.column.image { width: 50%; }
.column.pushimage { margin-left: 25%; }


.column.one { width: 6.25%; }
.column.two { width: 12.5%; }
.column.three { width: 18.75%; }
.column.four { width: 25%; }
.column.five { width: 31.25%; }
.column.six { width: 37.5%; }
.column.seven { width: 43.75%; }
.column.eight { width: 50%; }
.column.nine { width: 56.25%; }
.column.ten { width: 62.5%; }
.column.eleven { width: 68.75%; }
.column.twelve { width: 75%; }
.column.thirteen { width: 81.25%; }
.column.fourteen { width: 87.5%; }
.column.fifteen { width: 93.75%; }
.column.sixteen { width: 100%; }


.column.pushone { margin-left: 6.25%; }
.column.pushtwo { margin-left: 12.5%; }
.column.pushthree { margin-left: 18.75%; }
.column.pushfour { margin-left: 25%; }
.column.pushfive { margin-left: 31.25%; }
.column.pushsix { margin-left: 37.5%; }
.column.pushseven { margin-left: 43.75%; }
.column.pusheight { margin-left: 50%; }
.column.pushnine { margin-left: 56.25%; }
.column.pushten { margin-left: 62.5%; }
.column.pusheleven { margin-left: 68.75%; }
.column.pushtwelve { margin-left: 75%; }
.column.pushthirteen { margin-left: 81.25%; }
.column.pushfourteen { margin-left: 87.5%; }
.column.pushfifteen { margin-left: 93.75%; }
.column.pushsixteen { margin-left: 100%; }


/*MEDIA QUERIES*/

@media only screen and (max-width: 50em) {

.column.one { width: 100%; }
.column.two { width: 100%; }
.column.three { width: 100%; }
.column.four { width: 100%; }
.column.five { width: 100%; }
.column.six { width: 100%; }
.column.seven { width: 100%; }
.column.eight { width: 100%; }
.column.nine { width: 100%; }
.column.ten { width: 100%; }
.column.eleven { width: 100%; }
.column.twelve { width: 100%; }
.column.thirteen { width: 100%; }
.column.fourteen { width: 100%; }
.column.fifteen { width: 100%; }
.column.sixteen { width: 100%; }


.column.pushone { margin-left: 0%; }
.column.pushtwo { margin-left: 0%; }
.column.pushthree { margin-left: 0%; }
.column.pushfour { margin-left: 0%; }
.column.pushfive { margin-left: 0%; }
.column.pushsix { margin-left: 0%; }
.column.pushseven { margin-left: 0%; }
.column.pusheight { margin-left: 0%; }
.column.pushnine { margin-left: 0%; }
.column.pushten { margin-left: 0%; }
.column.pusheleven { margin-left: 0%; }
.column.pushtwelve { margin-left: 0%; }
.column.pushthirteen { margin-left: 0%; }
.column.pushfourteen { margin-left: 0%; }
.column.pushfifteen { margin-left: 0%; }
.column.pushsixteen { margin-left: 0%; }

.column.image { width: 90%; }
.column.pushimage { margin-left: 5%; }

.column {
	float: left;
	padding: 0.5em 0.7em 0.5em 0.7em;
  }

}
